.heading {
    background-color:chocolate;
    text-align: center;
}

.img {
    display: block;
    margin: auto;
}

.link {
    text-align: center;
    list-style: none;
    margin-bottom: 5%;
    font-size: large;
}

.sections {
    color: chocolate;
}