.heading {
    background-color: chocolate;
    text-align: center;
}

.img {
    display: block;
    margin: auto;
}

.link {
    text-align: center;
    list-style: none;
    margin-bottom: 5%;
    display: block;
    font-size: x-large;
    text-align: center; 
}

a:hover{
    border: 8px solid chocolate;
    background-color: antiquewhite;
}


#intro {
    text-align: center;
}

.sections {
    color: chocolate;
}

a:hover{
    border: 8px solid chocolate;
    background-color: antiquewhite;
}
